extends ../layout

block content

  div(class='container-fluid')
    div(class='row')
      div(class='col-12' style='background-color:#FFFFFF; border:1px solid #184D7E; border-radius: 20px;')
        div(class='row row-margin')
          if document.metadata.manuscriptId !== ""
            div(class='col-12')
              div(class='key d-inline font-weight-bold') Manuscript #: 
              div(class='value d-inline') #{document.metadata.manuscriptId}
          if document.metadata.doi !== ""
            div(class='col-12')
              div(class='key d-inline font-weight-bold') DOI: 
              div(class='value d-inline') #{document.metadata.doi}
          if document.metadata.pmid !== ""
            div(class='col-12')
              div(class='key d-inline font-weight-bold') PMID: 
              div(class='value d-inline') #{document.metadata.pmid}
          if document.metadata.pmcid !== ""
            div(class='col-12')
              div(class='key d-inline font-weight-bold') PMCID: 
              div(class='value d-inline') #{document.metadata.pmcid}
        
        div(class='row row-margin')
          div(class='col-12')
            div(class='key d-inline font-weight-bold') Article Title : 
            div(class='value d-inline') #{document.metadata.articleTitle}
          div(class='col-12')
            div(class='key d-inline font-weight-bold') Journal : 
            div(class='value d-inline') #{document.metadata.journal}

        div(class='row row-margin')
          div(class='col-12')
            div(class='key d-inline font-weight-bold') Authors : 
            div(class='value d-inline') #{author_persons}

        div(class='row row-margin')
          div(class='col-12')
            div(class='key d-inline font-weight-bold') Institutions : 
            if document.metadata.author_organizations.length > 0
              each val, index in document.metadata.author_organizations
                div(class='value d-block') #{val}
            else
                div(class='value d-inline') Not Found

        div(class='row crud-button-action')
          div(class='col-6 text-center')
            button(id='metadata_validation' class='btn btn-primary') This info is correct : Continue
          div(class='col-6 text-center')
            a(href="mailto:tim@dataseer.io")
              button(id='metadata_contest' class='btn btn-primary') Something is wrong : Contact the DataSeer curator

  if demo
    include ../forms/demo/metadata.pug